
.key-container {

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
    
  
    
   
    /* justify-content: center; */


}

/* .key {
    
    height:1vw;
    width:1vw;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding:30px;
    border: 3px solid black;
    margin: 5px 5px;
    font-size: 1vw;
   
   
    

} */



html, body{
    margin: 0;
    height:100%;



}




.key{
   
    display:flex;
    flex-direction: column;
    border: 4px solid black;
    border-radius:5px;
    margin: 1rem;
    font-size:1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width:100px;
    text-align:center;
    color:white;
    background:rgba(0,0,0,0,0.4);
    text-shadow: 0 0 5px black;


}

.playing {
    border: 5px solid red;
    transform: scale(1.1);
    border-color:#ffc600;
    text-shadow: 0 0 5px black;
}

